.article{
	background-color: #ffffff;
	&__title{
		color: #000;
		line-height: 1.1;
		margin: 18px 0;
	}
	&__subtitle{
		color: #000;
		font-size: 24px;
		line-height: 30px;
		letter-spacing: 0.2px;
		font-weight: 600;
		margin: 20px 0 42px;
	}
	&__body{
		h3{
			@include adaptive-font(28,20);
			line-height: 30px;
		}
		p{
			font-size: 16px;
			line-height: 24px;
			margin: 20px 0 40px;
			a{
				color: #00B25D;
				font-weight: 600;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
	&__info{
		font-size: 12px;
	}
	&__img{
		width: calc(100% + 80px);
		margin-left: -40px;
		margin-top: 20px;
		margin-bottom: 20px;
		img{
			max-width: 100%;
			display: block;
			margin-bottom: 10px;
			height: auto;
		}

	}
	&__figcaption{
		padding: 0 40px;
	}
	&__figcaption-title{
		color: #404040;
		font-size: 14px;
		line-height: 18px;
		margin: 0!important;
	}
	&__figcaption-subtitle{
		color: #777777;
		font-size: 12px;
		line-height: 20px;
		margin: 0!important;
	}
	&__blockquote{
		@include adaptive-font(21,18);
		font-weight: bold;
		font-style: italic;
		position: relative;
		padding: 10px 0;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%,0);
			background-color: #00B25D;
			width: 150px;
			height: 2px;
		}
		&:after{
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%,0);
			background-color: #00B25D;
			width: 150px;
			height: 2px;
		}
	}

	@include r(767){
		margin: 10px 0;
		&__subtitle{
			margin: 20px 0;
		}
		&__blockquote{
			margin-left: 0;
			margin-right: 0;
		}
		&__img{
			width: calc(100% + 40px);
			margin-left: -20px;
			margin-top: 20px;
			margin-bottom: 20px;
			img{
				max-width: 100%;
				display: block;
				margin-bottom: 10px;
				height: auto;
			}
			figcaption{
				padding: 0 20px;
				color: #777777;
				@include adaptive-font(12,9);
				p{
					margin: 0 0 5px;
					line-height: 1.2;
				}
				b{
					color: #404040;
					@include adaptive-font(14,11);
				}
			}
		}
	}
}