.currency{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	&__graf{
		display: block;
		background-image: url("../img/currency-graf.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
		width: 84px;
		height: 40px;
	}
	&__body{
		width: 100%;
		display: grid;
		grid-template-columns: repeat(5,1fr);
		grid-column-gap: 10px;
		padding: 0 20px;
	}
	&__item{
	}
	&__name{
		color: #000000;
		@include adaptive-font(11,9);
		font-weight: 500;
		text-transform: uppercase;
		margin-bottom: 2px;
	}
	&__price{
		font-size: 12px;
		@include adaptive-font(12,10);
		font-weight: 600;
		margin-bottom: 2px;
	}
	&__count{
		font-size: 10px;
		font-weight: 600;
		&.up{
			color: #00B25D;
		}
		&.down{
			color: red;
		}
	}
	&__arrow{
		display: block;
		text-decoration: none;
		width: 40px;
		height: 40px;
		border-left: 1px solid #C4C4C4;
		background-image: url("../img/currency-arrow.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 9px 18px;
	}
	@include r(1024){
		&__graf{
			display: none;
		}
		&__body{
			width: 100%;
			display: grid;
			grid-template-columns: repeat(3,1fr);
			grid-column-gap: 1px;
			padding: 0 20px;
		}
		&__item{
			&:nth-child(n+4){
				display: none;
			}
		}
	}
	@include r(767){
		&__body{
			width: 100%;
			display: grid;
			grid-template-columns: repeat(5,1fr);
			grid-column-gap: 20px;
			padding: 0 20px;
		}
		&__item{
			&:nth-child(n+4){
				display: block;
			}
		}
	}
	@include r(480){
		padding: 5px 10px;
		&__body{
			padding: 0;
			grid-column-gap: 5px;
		}
		&__graf{
			display: none;
		}
		&__arrow{
			border-color: #777777;
		}
	}
}