.digest-aside{
	background-color: #ffffff;
	padding: 20px 20px 18px;
	margin: 10px auto;
	&__title{
		font-size: 18px;
		color: #404040;
		font-weight: 800;
		letter-spacing: .2px;
		text-decoration: none;
		display: block;
		margin-bottom: 14px;
	}
	&__txt{
		position: relative;
		margin-bottom: 10px;
	}
	&__anons{
		font-size: 11px;
		line-height: 14px;
		font-weight: 500;
		margin: 0;
		position: relative;
		padding-left: 11px;
		margin-left: 49px;
		border-left: 1px solid #DDDDDD;
		&:before{
			content: '';
			position: absolute;
			top: 4px;
			left: -50px;
			background-image: url("../img/icons/icons.svg#digest-email-icon");
			background-position: center;
			background-size: 100%;
			background-repeat: no-repeat;
			width: 38px;
			height: 24px;
		}
	}
	&__input{
		width: 100%;
		background-color: #ffffff;
		border: 1px solid #C4C4C4;
		color: #404040;
		font-size: 12px;
		font-weight: 600;
		padding: 7px 10px;
		text-align: center;
		margin-bottom: 10px;
		letter-spacing: .6px;
		outline-color: #00B25D;
		&::placeholder{
			color: #404040;
			font-size: 12px;
			font-weight: 600;
			letter-spacing: .6px;
		}
	}
	&__btn{
		width: 100%;
		background-color: #00B25D;
		color: #ffffff;
		font-size: 12px;
		font-weight: 600;
		border: none;
		padding: 8px 10px;
		text-align: center;
		letter-spacing: .5px;
		cursor: pointer;
		outline: none;
	}

	@include r(767){
		&__txt{
			margin-bottom: 30px;
		}
		&__anons{
			&:before{
				left: -50px;
			}
		}
	}
}