.dossiers{
	&__row{
		display: flex;
		flex-wrap: wrap;
		border-top: 1px solid #DDDDDD;
	}
	&__item{
		flex: 1 0 0;
		padding: 20px;
		display: block;
		min-width: 224px;
		text-decoration: none;
		color: #000;
		font-size: 16px;
		@include adaptive-font(16,13);
		border-right: 1px solid #DDDDDD;
		border-bottom: 1px solid #DDDDDD;
		&:nth-child(3n){
			border-right: 0;
		}
	}
	&__dictionary{
		display: flex;
		align-content: center;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 20px 0;
		a{
			color: #000000;
			font-size: 18px;
			font-weight: bold;
			line-height: 30px;
			text-decoration: none;
			padding: 2px;
			&.active,&:hover{
				color: #00B25D;
				text-decoration: none;
			}
		}
	}
	@include r(1111){
		&__item{
			min-width: 168px;
		}
	}
	@include r(980){
		&__item{
			min-width: 140px;
		}
		&__dictionary{
			justify-content: flex-start;
		}
	}
	@include r(859){
		&__item{
			min-width: 160px;
			&:nth-child(2n){
				border-right: none;
			}
			&:nth-child(3n){
				border-right: 1px solid #DDDDDD;
			}
			&:nth-child(6n){
				border-right: none;
			}
			&:nth-last-child(-n+1){
				border-right: none;
			}
		}

	}
	@include r(767){
		&__item{
			min-width: 174px;
			&:nth-child(2n){
				border-right: 1px solid #DDDDDD;
			}
			&:nth-child(3n){
				border-right: none;
			}
			&:nth-child(6n){
				border-right: none;
			}
			&:nth-last-child(-n+1){
				border-right: none;
			}
		}
	}
	@include r(606){
		&__row{
			width: calc(100% + 40px);
			margin-left: -20px;
		}
		&__item{
			min-width: 150px;

		}
	}
	@include r(449){
		&__item{
			min-width: 130px;
			&:nth-child(2n){
				border-right: 1px solid #DDDDDD;
			}
			&:nth-child(3n){
				border-right: none;
			}
			&:nth-child(6n){
				border-right: none;
			}
			&:nth-last-child(-n+1){
				border-right: none;
			}
		}
	}
	@include r(389){
		&__item{
			&:nth-child(2n){
				border-right: none;
			}
			&:nth-child(3n){
				border-right: 1px solid #DDDDDD;
			}
			&:nth-child(6n){
				border-right: none;
			}
			&:nth-last-child(-n+1){
				border-right: none;
			}
		}
	}
}