.header{
	background-color: #FFFFFF;
	padding: 9px 0;
	position: relative;
	&__body{
		width: 100%;
		display: grid;
		grid-template-areas: 'currency logo find' 'nav nav nav';
		grid-template-columns: minmax(220px,438px) minmax(250px,286px) minmax(220px,438px);
		justify-content: space-between;
		grid-column-gap: 20px;
	}

	&__currency{
		grid-area: currency;
		max-width: 100%;
	}
	&__logo{
		grid-area: logo;
		position: relative;
		img{
			max-width: 100%;
			height: auto;
		}
	}
	&__find{
		grid-area: find;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__search{
		grid-area: search;
		max-width: 266px;
		width: 100%;

	}
	&__social{
		grid-area: social;
		flex-grow: 0;
		margin-left: 20px;
	}
	&__nav{
		grid-area: nav;
	}
	@include r(940){
		&__search{
			grid-area: search;
			max-width: 100%;
			width: 100%;

		}
		&__social{
			display: none;
		}
	}
	@include r(767){
		&__body{
			grid-template-areas: 'find logo nav' 'currency currency currency' ;
			grid-template-columns: minmax(120px,438px) minmax(150px,250px) minmax(120px,438px);
			grid-row-gap: 20px;
		}
		&__nav{
			justify-content: flex-end;
			display: flex;
		}
	}
	@include r(480){
		padding-bottom: 0;
		&__body{
			grid-template-columns: minmax(60px,auto) 150px minmax(60px,auto);
			grid-row-gap: 10px;
		}
		&__search{
			padding: 0 20px;

		}
		&__nav{
			padding: 0 20px;
		}
	}
	@include r(424){

	}
}