.header{
	background-color: #FFFFFF;
	padding: 9px;
	position: relative;
	&:before{
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 1px;
		height: 100%;
		background-color: red;
		pointer-events: none;
	}
	&__body{
		width: 100%;
		display: grid;
		grid-template-areas: 'currency logo search social' 'nav nav nav nav';
		grid-template-columns: minmax(400px,438px) minmax(150px,286px) auto 148px;
		justify-content: space-between;
		grid-column-gap: 20px;
	}

	&__currency{
		grid-area: currency;
		max-width: 438px;
	}
	&__logo{
		grid-area: logo;
		position: relative;
		img{
			max-width: 100%;
			height: auto;
		}
		&:before{
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			width: 1px;
			height: 100%;
			background-color: red;
			pointer-events: none;
		}
	}
	&__search{
		grid-area: search;
		max-width: 266px;
	}
	&__social{
		grid-area: social;
		padding-top: 8px;
	}
	&__nav{
		grid-area: nav;
	}
}