.longrid-thumbnail{
	display: flex;
	align-items: center;
	max-width: 890px;
	margin: 0 auto;
	&.revert{
		flex-direction: row-reverse;
		.longrid-thumbnail__body{
			margin-left: auto;
		}
		.longrid-thumbnail__img{
			flex: 0 0 70%;
			transform: translate(60%,0);
		}
		.longrid-thumbnail__caption{
			text-align: right;
		}
	}
	&__content{
		flex: 0 0 100%;
		display: flex;
	}

	&__body{
		width: 50%;
		h4{
			font-size: 21px;
			line-height: 28px;
			font-weight: bold;
			color: #000;
			margin: 0 0 10px;
		}
		p{
			font-size: 16px;
			line-height: 24px;
			color: #000;
			margin: 0 0 20px;
		}
	}
	&__img{
		flex: 0 0 70%;
		transform: translate(-60%,0);
		img{
			max-width: 100%;
		}
	}
	&__caption{
		color: #777777;
		font-size: 12px;
		line-height: 20px;
	}
	@include r(767){
		display: block;
		&.revert{
			.longrid-thumbnail__img{
				transform: translate(0,0);
			}
		}
		&__body{
			width: 100%;
		}
		&__img{
			transform: translate(0,0);
		}
	}
}