.main{
	display: grid;
	grid-template-areas: "aside-left contant aside-right";
	grid-template-columns: 320px minmax(340px,640px) 320px;
	grid-column-gap: 10px;
	&--article{
		grid-template-areas: "contant aside-right";
		grid-template-columns: minmax(320px, 970px)  320px;
	}

	&__aside-left{
		grid-area: aside-left;
	}
	&__contant{
		grid-area: contant;
	}
	&__aside-right{
		grid-area: aside-right;
	}
	&__page{
		background-color: #ffffff;
		margin: 10px 0;
		padding: 20px 40px;
		h1{
			font-size: 42px;
			font-weight: bold;
		}
		p{
			font-size: 16px;
			line-height: 24px;
			font-family: "Montserrat", sans-serif;
			margin-bottom: 20px;
		}
	}
	@include r(1023){
		grid-template-areas: "aside-right contant";
		grid-template-columns: 320px minmax(340px,1fr);
		&--article{
			grid-template-areas: "contant aside-right";
			grid-template-columns: minmax(340px,640px)  320px;
		}
		&__aside-left{
			display: none;
		}
	}
	@include r(767){
		grid-template-areas: 'contant' 'aside-right';
		grid-template-columns: 1fr;
		&--article{
			grid-template-areas: "contant" "aside-right";
		}
	}
}