.main-news{
	background-color: #ffffff;
	border-left: 10px solid #ffffff;
	&.padding{
		padding:0 40px;
	}
	&.dark{
		margin-top: 10px;
		background-color: #404040;
		border-color:#00B25D;
		.main-news__title{
			color: #FFFFFF;
			font-size: 22px;
			font-weight: 700;
			padding: 10px 0;
		}
		.main-news__item{
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: -40px;
				background-color: rgba(#fff,.15);
				width: calc(100% + 80px);
				height: 1px;
			}
			&:after{
				background-color: rgba(#fff,.15);
			}
		}
		.main-news__name{
			color: #ffffff;
		}
		.main-news__anons{
			color: #ffffff;
		}
	}
	&__title{
		color: #404040;
		font-size: 22px;
		font-weight: 700;
		padding: 19px 0;
	}
	&__item{
		padding: 15px 0;
		position: relative;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(160px,auto));
		grid-column-gap: 20px;
		grid-row-gap: 20px;
		&:after{
			content: '';
			position: absolute;
			bottom: 0;
			left: -40px;
			background-color: rgba(#000,.15);
			width: calc(100% + 80px);
			height: 1px;
		}
	}
	&__img{
		display: block;
		text-decoration: none;
		max-width: 200px;
		img{
			max-width: 100%;
			display: block;
		}
	}
	&__info{
		margin-bottom: 3px;
	}
	&__name{
		display: block;
		color: #404040;
		font-size: 18px;
		line-height: 20px;
		font-weight: 700;
		text-decoration: none;
		margin-bottom: 5px;
	}
	&__anons{
		color: #404040;
		font-size: 14px;
		line-height: 18px;
		font-weight: 500;
		text-decoration: none;
		margin: 0;
	}
	.information-article__category{
		font-size: 15px;
		font-weight: 500;
	}
	@include r(1024){
		padding: 0 20px;
		&.padding{
			padding:0 20px;
		}
		&__item{
			&:after{
				content: '';
				position: absolute;
				bottom: 0;
				left: -20px;
				background-color: rgba(#000,.15);
				width: calc(100% + 40px);
				height: 1px;
			}
		}
	}
	@include r(480){
		&.padding{
			padding: 0 20px 0 10px;
		}
		&.dark{
			margin-top: 0;
			.main-news__item{
				&:before{
					left: -10px;
					width: calc(100% + 30px);
				}
				&:after{
					background-color: rgba(#fff,.15);
				}
			}
		}
		&__item{
			&:after{
				left: -10px;
				width: calc(100% + 30px);
			}
		}
	}
	@include r(424){
		border-width: 3px;
		padding: 0 20px 0 6px;
		&.dark{
			margin-top: 0;
		}
	}
}