.main{
	display: grid;
	grid-template-areas: "aside-left contant aside-right";
	grid-template-columns: 320px minmax(340px,640px) 320px;
	grid-column-gap: 10px;
	&--article{
		grid-template-areas: "contant aside-right";
		grid-template-columns: minmax(320px, 970px)  320px;
	}

	&__aside-left{
		grid-area: aside-left;
	}
	&__contant{
		grid-area: contant;
	}
	&__aside-right{
		grid-area: aside-right;
	}
	@include r(1023){
		grid-template-areas: "aside-right contant";
		grid-template-columns: 320px minmax(340px,1fr);
		&--article{
			grid-template-areas: "contant aside-right";
			grid-template-columns: minmax(340px,640px)  320px;
		}
		&__aside-left{
			display: none;
		}
	}
	@include r(767){
		grid-template-areas: 'contant' 'aside-right';
		grid-template-columns: 1fr;
		&--article{
			grid-template-areas: "contant" "aside-right";
		}
	}
}