.main{
	display: grid;
	grid-template-areas: "aside-left contant aside-right";
	grid-template-columns: 320px minmax(340px,640px) 320px;
	grid-column-gap: 10px;
	&--article{
		grid-template-areas: "contant aside-right";
		grid-template-columns: minmax(280px, 970px)  320px;
	}
	&--longrid{
		grid-template-areas: "contant";
		grid-template-columns: 1fr;
	}

	&__aside-left{
		grid-area: aside-left;
	}
	&__contant{
		grid-area: contant;
	}
	&__aside-right{
		grid-area: aside-right;
	}
	&__page{
		background-color: #ffffff;
		margin: 10px 0;
		padding: 20px 40px;
		h1{
			font-size: 42px;
			font-weight: bold;
			line-height: 45px;
			margin: 20px 0;
		}
	}
	@include r(1023){
		grid-template-areas: "aside-left contant";
		grid-template-columns: 320px minmax(340px,1fr);
		&--article{
			grid-template-areas: "contant aside-right";
			grid-template-columns: minmax(340px,640px)  320px;
			.main__aside-right{
				display: block;
			}
		}
		&--longrid{
			grid-template-areas: "contant";
			grid-template-columns: 1fr;
		}
		&__aside-right{
			display: none;
		}
		&__page{
			h1{
				font-size: 36px;
				line-height: 40px;
			}
		}
	}
	@include r(840){
		&__page{
			h1{
				font-size: 30px;
				line-height: 36px;
			}
		}
	}
	@include r(767){
		grid-template-areas: 'contant' 'aside-left';
		grid-template-columns: 1fr;
		&--article{
			grid-template-areas: "contant";
			.main__aside-right{
				display: none;
			}
		}
		&--longrid{
			grid-template-areas: "contant";
			grid-template-columns: 1fr;
		}
		&__page{
			padding: 20px;
		}

	}
	@include r(425){
		&__page{
			h1{
				font-size: 24px;
				line-height: 30px;
			}
		}
	}
}