.nav {
	position: relative;
	white-space: nowrap;
	padding-top: 10px;
	z-index: 10;

	&__menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	&__item {
		display: block;
		background-color: #F2F2F2;
		border-radius: 1px;
		margin: 0 -1px;
	}

	&__link {
		color: #404040;
		display: block;
		padding: 4px 10px 6px;
		font-weight: 500;
		font-size: 14px;
		text-decoration: none;
		transition: .3s;

		&:hover {
			color: #00B25D;
		}
	}

	&__dropdown {
		background-color: #f2f2f2;
		padding: 10px;
		white-space: nowrap;
		top: 80%;
		right: 0;
		transition: 300ms cubic-bezier(0.25, 2, 0.25, 1);
		transform-origin: center top;
		transform: rotateX(-30deg);
		opacity: 0;
		&.show {
			transform: rotateX(0deg);
			opacity: 1;
			visibility: visible;
			transition: 300ms cubic-bezier(0.25, 2, 0.25, 1);
		}

		li {
			display: block;

			a {
				display: block;
			}
		}


		&-wrapper {
			display: inline-block;
			perspective: 500px;
		}

		&-toggle {
			outline: none;
			display: inline-block;
			border: none;
			margin-left: 3px;
			font-weight: 700;
			color: #404040;
			font-size: 14px;
			padding: 4px 10px 6px;
		}
	}

	.knob {
		cursor: ew-resize;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%) translateX(50%);
	}

	@media (max-width: 1024px) {
		.knob {
			display: none;
		}
	}

	@include r(767) {
		padding: 0;
		&__wrapper{
			display: flex;
			align-items: center;
		}
		&__dropdown {
			&-toggle {
				display: block;
				width: 20px;
				height: 12px;
				background-color: transparent;
				color: transparent;
				padding: 0;
				margin: 0;
				border-top: 2px solid #404040;
				border-bottom: 2px solid #404040;
				&:before{
					content: '';
					position: absolute;
					top: 50%;
					left: 0;
					margin-top: -1px;
					width: 100%;
					height: 2px;
					background-color: #404040;
				}
			}
		}
	}

}
