.social-header{
	position: relative;
	&__title{
		position: absolute;
		font-size: 12px;
		font-weight: 500;
		margin-bottom: 5px;
		top: -17px;
	}
	&__body{
		display: grid;
		grid-template-columns: repeat(5, 28px);
		grid-row-gap: 28px;
		grid-column-gap: 2px;
		align-items:center;
	}
	&__link{
		display: block;
		text-decoration: none;
		background-repeat: no-repeat;
		background-position: center;
		width: 28px;
		height: 28px;
		border: 2px solid #F2F2F2;
		&.instagram{
			background-image: url("../img/icons/icons.svg#Whatsapp");
		}
		&.facebook{
			background-image: url("../img/icons/icons.svg#FaceBook");
		}
		&.twitter{
			background-image: url("../img/icons/icons.svg#Twitter");
		}
		&.telegram{
			background-image: url("../img/icons/icons.svg#Telegram");
		}
		&.vkontakte{
			background-image: url("../img/icons/icons.svg#VK");
			background-size: 18px;
		}
	}
}