@import 'partials/normalize';
@import 'fonts';
@import 'mixin';
//@import 'partials/bootstrap-grid';
@import 'partials/slick';
@import 'partials/priority-nav-core';


$Montserrat: 'Montserrat', sans-serif;

*{
	box-sizing: border-box;
}
body{
	background-color: #E3E3E3;
	font-family: $Montserrat;
	&.lock{
		overflow: hidden;
	}
}
.wrp{

}
h2{

}

.container{
	max-width: 1360px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.ad-container{
	margin: 10px auto;
	img{
		display: block;
		max-width: 100%;
		height: auto;
	}
}

.first-letter{
	&:first-letter {
		border-top: 3px solid #00B25D;
	}
}

//Шапка
@import "componets/header";

//навигация в шапке
@import "componets/nav";

//Курс валюты
@import "componets/currency";

//Поиск в шапке
@import "componets/search-header";

//Соц сети в шапке
@import "componets/social-header";

// 3 колончатый контент
@import "componets/main";

//цитата дня
@import "componets/quote-day";

//Лента новостей
@import "componets/news-feed";

// Информация даты счетсика и категории
@import "componets/information-article";

//Подвал
@import "componets/footer";

//Слайдер спецпроектов
@import "componets/special-slider";

//Персоны в правом сайдбаре
@import "componets/persons-aside";

//Новости на главной
@import "componets/main-news";